.chat {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  color: #222;

  .header {
    width: 60rem;

    display: flex;
    justify-content: space-between;

    padding: 1rem;

    font-size: 1rem;
    font-weight: 500;

    border: 2px solid #252525;

    .header-users-count {
      margin-left: 0.5rem;
    }

    .header-messages-count {
      margin-left: 0.5rem;
    }
  }

  .message {
    width: 25rem;

    display: flex;

    padding: 0.5rem;

    border: 2px solid #252525;
    border-radius: 10px;

    .message-left {
      .message-user-avatar {
        height: 2.7rem;

        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: auto;
          max-height: 100%;

          border-radius: 4px;
        }
      }
    }

    .message-right {
      width: 100%;

      position: relative;
      margin-left: 1rem;
      font-size: 15px;
      line-height: 1.5;

      .message-user-name {
        font-weight: 900;
      }

      .message-time {
        margin-left: 1rem;

        color: #898989;
      }

      .like {
        position: absolute;
        right: 2%;

        cursor: pointer;
      }

      .message-like {
        color: #ff000078;
      }

      .message-liked {
        color: red;
      }

      .message-text {
        font-size: 1.2rem;
        line-height: 1.4;
      }
    }
  }

  .message-list {
    width: 60rem;
    height: 40rem;

    padding: 1rem;

    border: 2px solid #252525;

    overflow-y: auto;

    .messages-divider {
      display: flex;
      align-items: center;
      text-align: center;

      font-size: 1.2rem;
      font-weight: bold;

      &::after,
      &::before {
        content: "";
        flex: 1;
        border-bottom: 1px solid #000;
      }

      &:not(:empty)::before {
        margin-right: 0.25em;
      }

      &:not(:empty)::after {
        margin-left: 0.25em;
      }
    }
  }

  .own-message {
    position: relative;

    width: 25rem;

    margin-left: auto;

    padding: 0.5rem;

    border: 2px solid #252525;
    border-radius: 10px;

    .message-time {
      color: #898989;
    }

    .message-text {
      font-size: 1.2rem;
      line-height: 1.5;
    }

    svg {
      cursor: pointer;
    }

    .message-edit {
      position: absolute;

      top: 10%;
      right: 2rem;
    }

    .message-delete {
      position: absolute;

      top: 10%;
      right: 3%;
    }
  }

  .message-input {
    display: flex;
    align-items: center;
    justify-content: center;

    .message-input-button {
      width: 5rem;
      height: 2rem;

      margin-left: 3rem;

      font-size: 1.2rem;
      font-weight: bold;

      font-family: Arial, Helvetica, sans-serif;

      cursor: pointer;
    }
  }
}
